# String Based Assignment Problem

In [7]:
#  1. Write a program to reverse a string.
# Using slice i have reversed the String

str1="Maruti"
str2=str1[::-1]
str2

'ituraM'

In [13]:
#  2. Check if a string is a palindrome.
str2="Level".
str3=str2.lower()
newStr=''.join(e for e in str3 if (e.isalnum))
str5=str3==newStr[::-1]
str5

True

In [18]:
#   3. Convert a string to uppercase.
str1="maruti"
str1.upper()

'MARUTI'

In [20]:
#   4. Convert a string to lowercase.
str1="PANCHAL"
str1.lower()

'panchal'

In [35]:
#  5. Count the number of vowels in a string.
str1="Hello, how are you?"
cnt=0
for char in str1:
    if(char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
        cnt+=1
cnt

7

In [38]:
#  6. Count the number of consonants in a string.
str1="Hello, how are you?"
cnt=0
for char in str1:
    if(char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
        continue
    else:
        cnt+=1
cnt

12

In [46]:
#  7. Remove all whitespaces from a string.
str1="Hello, how are you?"
result="";
for char in str1:
    if(char!=' '):
         result=result+char;
result

'Hello,howareyou?'

In [47]:
#  8. Find the length of a string without using the `len()` function.
str1="Hello, how are you?"
cnt=0;
for ch in str1:
    cnt+=1
cnt

19

In [48]:
#  9. Check if a string contains a specific word.
str1="Hello, how are you?"    # Using find()  gives -1 if word not found
str1.find('a')

11

In [50]:
str1="Hello, how are you?"
str3=str1.find('z')
if(str3==-1):
    print("Not Found")
else:
    print("Word Found")

Not Found

In [55]:
str1="Hello, how are you?"    # Using index  Error Means not found
str3=str1.index('a')
if(str3>0):
    print("Word Found")

Word Found

In [1]:
#  10. Replace a word in a string with another word.
str1="maruti"
str1.replace('m','a')

'aaruti'

In [10]:
#  11. Count the occurrences of a word in a string.
str1="Hello how are how you?"  
targetWord='how'
cnt=0;
convertedList=str1.split()
for ch in convertedList:
    if ch=='how':
        cnt+=1
print("Number of Occurences is : ",cnt)

Number of Occurences is :  2

In [13]:
#  12. Find the first occurrence of a word in a string.
str1="Hello how are how you?"  
convertedList=str1.split()
for ch in convertedList:
    print(" Th First Occurences Of a Word in String is : ",ch) 
    break;

 Th First Occurences Of a Word in String is :  Hello

In [24]:
#  13. Find the last occurrence of a word in a string.
str1="Hello how are how you" 
print(" Th Last Occurences Of a Word in String is : ",str1.split()[-1])

 Th Last Occurences Of a Word in String is :  you

In [26]:
#  14. Split a string into a list of words.
str1="Hello how are how you" 
print("Splited List is : ",str1.split())

Splited List is :  ['Hello', 'how', 'are', 'how', 'you']

In [28]:
#  15. Join a list of words into a string.
str1="Hello how are how you" 
str2=str1.split()
type(str2)

list

In [35]:
# Now will join a list
str4=' '.join(e for e in str2)
print("Before Join : ",str2)
print("After join : ",str4)

Before Join :  ['Hello', 'how', 'are', 'how', 'you']
After join :  Hello how are how you

In [5]:
# 16. Convert a string where words are separated by spaces to one where wordsare separated by underscores.
letString="Hello this is maruti panchal";
print("Before Converting : ",letString);
newString=letString.replace(" ","_");
print("After Converting : ",newString);

Before Converting :  Hello this is maruti panchal
After Converting :  Hello_this_is_maruti_panchal

In [8]:
# 17. Check if a string starts with a specific word or phrase.
letString="Hello this is maruti panchal";
print(letString.startswith("Hello"));

True

In [9]:
# 18. Check if a string ends with a specific word or phrase.
letString="Hello this is maruti panchal";
print(letString.endswith("maruti"));

False

In [19]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
letString="hello world";
print("Method 1 : ",letString.replace('h','H').replace('w','W'));
print("Method 2 : ",letString.title());

Method 1 :  Hello World
Method 2 :  Hello World

In [2]:
# 20. Find the longest word in a string.
letString="hello world my name is maruti_panchal";
convString=letString.split(" ");
result="";
for ch in convString:
    if len(ch)>len(result):
        result=ch;
print(result);

maruti_panchal

In [5]:
# 21. Find the shortest word in a string.
letString="hello world my name is maruti_panchal";
convString=letString.split(" ");
result=('inf');
for ch in convString:
    if len(ch)<len(result):
        result=ch;
print(result);

my

In [30]:
# 22. Reverse the order of words in a string.
letString="hello world my name is maruti_panchal";
print(letString)
reverseString=' ';
arrayString=letString.split(' ');
for ch in arrayString:
    reverseString+=ch[::-1]+" ";
print(reverseString)

hello world my name is maruti_panchal
 olleh dlrow ym eman si lahcnap_ituram

In [36]:
# 23. Check if a string is alphanumeric.
letString="hello world my name is maruti_panchal";
letString2='nannvn18u8u8';
is_alphanumeric_1 = letString.isalnum()
is_alphanumeric_2 = letString2.isalnum()

print(f"String 1 is alphanumeric: {is_alphanumeric_1}")
print(f"String 2 is alphanumeric: {is_alphanumeric_2}")

String 1 is alphanumeric: False
String 2 is alphanumeric: True

In [38]:
# 24. Extract all digits from a string.
def extractDigit(letString2):
    digit=" ";
    for ch in letString2:
        if ch.isdigit():
            digit+=ch;
    return digit;
letString2='jsjjj7cnan123nvn18u8u8sgdh';
print("Extracted Digits are : "+extractDigit(letString2));

Extracted Digits are :  71231888

In [40]:
# 25. Extract all alphabets from a string.
def extractAlphabte(letString2):
    alpha=" ";
    for ch in letString2:
        if ch.isalpha():
            alpha+=ch;
    return alpha;
letString2='jsjjj7cnan123nvn18u8u8sgdh';
print("Extracted Alphabates are : "+extractAlphabte(letString2));

Extracted Alphabates are :  jsjjjcnannvnuusgdh

In [45]:
# 26. Count the number of uppercase letters in a string.
def upperCaseCount(demoString):
    cnt=0;
    for ch in demoString:
        if ch.isupper():
            cnt+=1;
            print(ch)
    return cnt;
demoString='123ABCDEfghsi';
print('Uppercase Count is : ',+upperCaseCount(demoString));

A
B
C
D
E
Uppercase Count is :  5

In [47]:
# 27. Count the number of lowercase letters in a string.
def lowerCaseCount(demoString):
    cnt=0;
    for ch in demoString:
        if ch.islower():
            cnt+=1;
            print(ch)
    return cnt;
demoString='123ABCDEfghskdjdi';
print('Uppercase Count is : ',+lowerCaseCount(demoString));

f
g
h
s
k
d
j
d
i
Uppercase Count is :  9

In [51]:
# 28. Swap the case of each character in a stringd.
def swapCase(demoString):
    return demoString.swapcase();
demoString='ABCDEfghskdjdi';
print('Swap case is : ',  swapCase(demoString));

Swap case is :  abcdeFGHSKDJDI

In [65]:
# 29. Remove a specific word from a string.
def removeWord(demoString,word):
    arrayWord=demoString.split(' ');
    newString='';
    for ch in arrayWord:
        if ch!=word:
            newString+=ch+' ';
    return newString;
letString="hello world my name is maruti_panchal";
print('Before Removing : ',letString);
print('After Removed : ',  removeWord(letString,'world'));

Before Removing :  hello world my name is maruti_panchal
After Removed :  hello my name is maruti_panchal

In [3]:
import re

# 30. Check if a string is a valid email address.
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None


email = input("Enter an email address: ")
if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Enter an email address:  panchal.maruti70@gmail.com

Valid email address

In [4]:
# 31. Extract the username from an email address string.
import re

def extract_username(email):
    return re.match(r'^([a-zA-Z0-9._%+-]+)@', email).group(1)


email = "example.user@example.com"
print("Username:", extract_username(email))

Username: example.user

In [8]:
# 32. Extract the domain name from an email address string.
def extract_domain(email):
    return re.search(r'@(.+)$', email).group(1)


email = "example.user@example.com"
print("Domain:", extract_domain(email))

Domain: example.com

In [9]:
# 33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(string):
    return re.sub(r'\s+', ' ', string)


string = "This   is   a   sentence   with   multiple   spaces."
print("Original string:", string)
print("After replacement:", replace_multiple_spaces(string))

Original string: This   is   a   sentence   with   multiple   spaces.
After replacement: This is a sentence with multiple spaces.

In [12]:
# 34. Check if a string is a valid URL.
import re
def is_valid_url(url):
    pattern = r'^(http|https):\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/\S*)?$'
    return re.match(pattern, url) is not None

url = input("Enter a URL: ")
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Enter a URL:  https:\\www.google.com

Invalid URL

In [14]:
# 35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    return re.match(r'^(http|https)', url).group(1)


url = "https://www.example.com"
print("Protocol:", extract_protocol(url))

Protocol: http

In [15]:
# 36. Find the frequency of each character in a string.
def character_frequency(string):
    frequency = {}
    for char in string:
        frequency[char] = frequency.get(char, 0) + 1
    return frequency


string = "hello world"
print("Character frequency:", character_frequency(string))

Character frequency: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [16]:
# 37. Remove all punctuation from a string.
def remove_punctuation(string):
    return re.sub(r'[^\w\s]', '', string)

string = "Hello, world! This is a test."
print("Original string:", string)
print("After removing punctuation:", remove_punctuation(string))

Original string: Hello, world! This is a test.
After removing punctuation: Hello world This is a test

In [17]:
# 38. Check if a string contains only digits.
def contains_only_digits(string):
    return re.match(r'^\d+$', string) is not None

string = input("Enter a string: ")
if contains_only_digits(string):
    print("Contains only digits")
else:
    print("Does not contain only digits")

Enter a string:  maruti

Does not contain only digits

In [18]:
# 39. Check if a string contains only alphabets.
def contains_only_alphabets(string):
    return re.match(r'^[a-zA-Z]+$', string) is not None


string = input("Enter a string: ")
if contains_only_alphabets(string):
    print("Contains only alphabets")
else:
    print("Does not contain only alphabets")

Enter a string:  maruti90

Does not contain only alphabets

In [19]:
# 40. Convert a string to a list of characters.
def string_to_characters(string):
    return list(string)

string = "hello"
print("String:", string)
print("List of characters:", string_to_characters(string))

String: hello
List of characters: ['h', 'e', 'l', 'l', 'o']

In [21]:
# 41. Check if two strings are anagrams.
import string
from collections import Counter

def are_anagrams(string1, string2):
    return Counter(string1.lower()) == Counter(string2.lower())


string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string:  abcd
Enter the second string:  dabc

The strings are anagrams.

In [ ]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(string, shift):
    alphabet = string.ascii_lowercase
    shifted_alphabet = alphabet[shift:] + alphabet[:shift]
    translation_table = str.maketrans(alphabet + alphabet.upper(), shifted_alphabet + shifted_alphabet.upper())
    return string.translate(translation_table)


string = input("Enter a string to encode: ")
shift = int(input("Enter the shift value: "))
encoded_string = caesar_cipher_encode(string, shift)
print("Encoded string:", encoded_string)

In [ ]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(string, shift):
    return caesar_cipher_encode(string, -shift)


encoded_string = input("Enter a string to decode: ")
shift = int(input("Enter the shift value: "))
decoded_string = caesar_cipher_decode(encoded_string, shift)
print("Decoded string:", decoded_string)

In [26]:
# 44. Find the most frequent word in a string.
def most_frequent_word(string):
    words = string.split()
    word_count = Counter(words)
    return word_count.most_common(1)[0][0]


string = "This is a test string to test the most frequent word."
print("Most frequent word:", most_frequent_word(string))

Most frequent word: test

In [30]:
# 45. Find all unique words in a string.
def unique_words(string):
    return set(string.split())

string = "This is a test string with some repeated words test test."
print("Unique words:", unique_words(string))

Unique words: {'words', 'string', 'a', 'repeated', 'is', 'some', 'with', 'This', 'test', 'test.'}

In [29]:
# 46. Count the number of syllables in a string.
def count_syllables(string):
    vowels = "aeiouAEIOU"
    count = 0
    for i in range(len(string)):
        if string[i] in vowels and (i == 0 or string[i-1] not in vowels):
            count += 1
    return count

string = "Hello world, this is a test string."
print("Number of syllables:", count_syllables(string))

Number of syllables: 8

In [ ]:
# 47. Check if a string contains any special characters.
def contains_special_characters(string):
    return any(char for char in string if char in string.punctuation)


string = input("Enter a string: ")
if contains_special_characters(string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

In [35]:
# 48. Remove the nth word from a string.

def remove_nth_word(string, n):
    words = string.split()
    if 0 <= n < len(words):
        del words[n]
    return " ".join(words)


string = "This is a test string."
n = int(input("Enter the index of the word to remove: "))
print("String after removing the nth word:", remove_nth_word(string, n))

Enter the index of the word to remove:  2

String after removing the nth word: This is test string.

In [36]:
# 49. Insert a word at the nth position in a string.
def insert_word(string, word, n):
    words = string.split()
    words.insert(n, word)
    return " ".join(words)


string = "This is a test string."
word = input("Enter a word to insert: ")
n = int(input("Enter the index where the word should be inserted: "))
print("String after inserting the word:", insert_word(string, word, n))

Enter a word to insert:  maruti
Enter the index where the word should be inserted:  3

String after inserting the word: This is a maruti test string.

In [37]:
# 50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    return [row.split(",") for row in csv_string.split("\n")]

csv_string = """Name, Age, Country
John, 25, USA
Alice, 30, UK
Bob, 28, Canada"""
print("List of lists:", csv_string_to_list(csv_string))

List of lists: [['Name', ' Age', ' Country'], ['John', ' 25', ' USA'], ['Alice', ' 30', ' UK'], ['Bob', ' 28', ' Canada']]

#   List Based Practice Problem :

In [1]:
# 1. Create a list with integers from 1 to 10.

l=[]
size=10;
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# 2. Find the length of a list without using the `len()` function.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cnt=0;
for i in l:
    cnt+=1
print(type(l))
print("Length of List is : ",cnt)

<class 'list'>
Length of List is :  10

In [17]:
#  3. Append an element to the end of a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Before Appends : ",l)
l.append(11);
l.append(12);
l.append(13);
l.append(14);
l.append(15);
print("After Appends : ",l)

Before Appends :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After Appends :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [3]:
# 4. Insert an element at a specific index in a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Before Insert : ",l)
l.insert(0,'A');
l.insert(1,'B');
l.insert(2,'C');
l.insert(3,'D');
l.insert(4,'E');
print("After Insert : ",l)

Before Insert :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After Insert :  ['A', 'B', 'C', 'D', 'E', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#  5. Remove an element from a list by its value.
print("Before Removing List is : ",l)
l.remove(9)
l.remove(8)
l.remove('B')
print("After removing List is : ",l)

Before Removing List is :  ['A', 'B', 'C', 'D', 'E', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After removing List is :  ['A', 'C', 'D', 'E', 1, 2, 3, 4, 5, 6, 7, 10]

In [7]:
# 6. Remove an element from a list by its index.
print("Before Removing List is : ",l)
l.pop(0);
l.pop(4);
l.pop(2);
print("After removing List is : ",l)

Before Removing List is :  ['C', 'D', 'E', 1, 2, 3, 4, 5, 6, 7, 10]
After removing List is :  ['D', 'E', 2, 4, 5, 6, 7, 10]

In [17]:
#  7. Check if an element exists in a list.
print(l)
print("Number is Exists in list ",l.index(7))
print("Number is Exists in list ",l.index('D'))
print("Number is Exists in list ",l.index('E'))
#print("Number is Not Exists in list ",l.index(9))     33 if number is not available then it gives error

['D', 'E', 2, 4, 5, 6, 7, 10]
Number is Exists in list  6
Number is Exists in list  0
Number is Exists in list  1

In [21]:
# 8. Find the index of the first occurrence of an element in a list.
print(l)
for ele in l:
    print("The first Occurence is : ",ele);
    break;

['D', 'E', 2, 4, 5, 6, 7, 10]
The first Occurence is :  D

In [25]:
# 9. Count the occurrences of an element in a list.
print(l)
cnt=0;
for ele in l:
       cnt=cnt+1;
print("The first Occurence is : ",cnt);

['D', 'E', 2, 4, 5, 6, 7, 10]
The first Occurence is :  8

In [26]:
# 10. Reverse the order of elements in a list.
print("Before Reversing : ",l)
l.reverse()
print("After Reversing : ",l)

Before Reversing :  ['D', 'E', 2, 4, 5, 6, 7, 10]
After Reversing :  [10, 7, 6, 5, 4, 2, 'E', 'D']

In [31]:
# 11. Sort a list in ascending order.
l2=[3,1,5,4,7,3,2,6,0,9,10]
print("List Before Sorting : ",l2)
l2.sort();
print("List After Sorted in Ascending Order : ",l2)

List Before Sorting :  [3, 1, 5, 4, 7, 3, 2, 6, 0, 9, 10]
List After Sorted in Ascending Order :  [0, 1, 2, 3, 3, 4, 5, 6, 7, 9, 10]

In [32]:
# 12. Sort a list in descending order.
l2=[3,1,5,4,7,3,2,6,0,9,10]
print("List Before Sorting : ",l2)
l2.sort();
l2.reverse();
print("List After Sorted in Descending Order : ",l2)

List Before Sorting :  [3, 1, 5, 4, 7, 3, 2, 6, 0, 9, 10]
List After Sorted in Descending Order :  [10, 9, 7, 6, 5, 4, 3, 3, 2, 1, 0]

In [38]:
#  13. Create a list of even numbers from 1 to 20.
# 14. Create a list of odd numbers from 1 to 20.
evenList=[]
oddList=[]
for i in range (1,20+1):
    if(i%2==0):
        evenList.append(i);
    else:
        oddList.append(i);
print("List of Even Numbers is : ",evenList)
print("List of Odd Number is : ",oddList)

List of Even Numbers is :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
List of Odd Number is :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [39]:
# 15. Find the sum of all elements in a list.
print(evenList)
sum=0;
for ele in evenList:
    sum+=ele;
print("Total Sum : ",sum)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Total Sum :  110

In [66]:
# 16. Find the maximum value in a list.
demoList=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
max=0;
for ch in demoList:
    if ch>max:
        max=ch;
print("Maximum Value is : ",max)

20

In [70]:
# 17. Find the minimum value in a list.
demoList=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
min=1000000;
for ch in demoList:
    if ch<min:
        min=ch;
print("Minimum Value is : ",min)

Minimum Value is :  2

In [74]:
# 18. Create a list of squares of numbers from 1 to 10.
squareList=[];
for i in range(1,11):
    squareList.append(i*i);
print("Square List : ",squareList);

Square List :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
# 19. Create a list of random numbers.
import random
randomNumber=[random.randint(1, 100) for _ in range(10)]
print(randomNumber)

[30, 93, 4, 76, 67, 60, 72, 78, 65, 87]

In [84]:
# 20. Remove duplicates from a list.
duplicateList=[30, 93,30,4, 4, 76,67, 67, 60, 72,72,72, 78, 65,65, 87,87];
print("Old List : ",duplicateList);
print("New List : ",list(set(duplicateList)))

Old List :  [30, 93, 30, 4, 4, 76, 67, 67, 60, 72, 72, 72, 78, 65, 65, 87, 87]
New List :  [65, 67, 4, 72, 76, 78, 87, 60, 93, 30]

In [86]:
# 21. Find the common elements between two lists.
OldList =[30, 93, 30, 4, 4, 76, 67, 67, 60, 72, 72, 72, 78, 65, 65, 87, 87]
NewList = [65, 67, 4, 72, 76, 78, 87, 60, 93, 30]
print("Common elelments are : ",list(set(OldList).union(NewList)));

Common elelments are :  [65, 67, 4, 72, 76, 78, 87, 60, 93, 30]

In [90]:
# 22. Find the difference between two lists.
OldList =[30, 93, 30, 4, 4, 76, 67, 67]
NewList = [65, 67, 4, 72, 76, 78, 87, 60, 93, 30]
print("Difference is : ",list(set(NewList).difference(OldList)));

Difference is :  [65, 72, 78, 87, 60]

In [97]:
# 23. Merge two lists.
OldList =[30, 93, 30, 4, 4, 76, 67, 67]
NewList = [65, 67, 4, 72, 76, 78, 87, 60, 93, 30]

print("Merged List is : ",OldList+NewList);

Merged List is :  [30, 93, 30, 4, 4, 76, 67, 67, 65, 67, 4, 72, 76, 78, 87, 60, 93, 30]

In [99]:
# 24. Multiply all elements in a list by 2.
multiple=[ch*2 for ch in range(1,11)]
print("Multiple : ",multiple)

Multiple :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [104]:
# 25. Filter out all even numbers from a list.
mergedList=[30, 93, 30, 4, 4, 76, 67, 67, 65, 67, 4, 72, 76, 78, 87, 60, 93, 30];
evenNumberList=[x for x in mergedList if x%2==0];
print(evenNumberList)

[30, 30, 4, 4, 76, 4, 72, 76, 78, 60, 30]

In [107]:
# 26. Convert a list of strings to a list of integers.
listOfString=['1','2','3','4','5'];
listOfInteger=[int(x) for x in listOfString]
print("List of String : ", listOfString)
print("List of Integer : ", listOfInteger)

List of String :  ['1', '2', '3', '4', '5']
List of Integer :  [1, 2, 3, 4, 5]

In [110]:
# 27. Convert a list of integers to a list of strings.
listOfInteger=[1, 2, 3, 4, 5]
listOfString=[str(x) for x in listOfInteger]
print("List of Integer : ", listOfInteger)
print("List of String : ", listOfString)

List of Integer :  [1, 2, 3, 4, 5]
List of String :  ['1', '2', '3', '4', '5']

In [2]:
# 28. Flatten a nested list.
def flattenList(nested_list):
    flatten_list=[];
    for ele in nested_list:
        if isinstance(ele,list):
            flatten_list.extend(flattenList(ele));
        else:
            flatten_list.append(ele);
    return flatten_list;
nested_list=[1,2,1,4,[15,6,7],10,[8,4,0,2],7,3];
print("Flatten List : ",flattenList(nested_list));

Flatten List :  [1, 2, 1, 4, 15, 6, 7, 10, 8, 4, 0, 2, 7, 3]

In [8]:
# 29. Create a list of the first 10 Fibonacci numbers.
def finbonacci(n):
    if n<=1:
        return n;
    else:
        return finbonacci(n-1)+finbonacci(n-2);
newList=[];
for _ in range(10):
    newList.append(finbonacci(_));
print("Fibonnci List : ",newList)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [15]:
# 30. Check if a list is sorted
newList=[1,2,3,4,5,6,7];
flag=True;
for ele in range(len(newList)-1):
    if newList[ele]>newList[ele+1]:
        flag=False;
if flag:
    print("Sorted");
else:
    print("Not Sorted")

Sorted

In [2]:
# 31. Rotate a list to the left by `n` positions.
def rotateLeft(newList,n):
    return newList[n:]+newList[:n]
newList=[1,2,3,4,5,6,7];
print("Before Rotation : ",newList);
print("After Rotation : ",rotateLeft(newList,3))

Before Rotation :  [1, 2, 3, 4, 5, 6, 7]
After Rotation :  [4, 5, 6, 7, 1, 2, 3]

In [4]:
# 32. Rotate a list to the right by `n` positions.
def rotateRight(newList):
    return newList[:-n]+newList[-n:]

    
    
newList=[1,2,3,4,5,6,7];
print("Before Rotation : ",newList);
print("After Rotation : ",rotateLeft(newList,3));

Before Rotation :  [1, 2, 3, 4, 5, 6, 7]
After Rotation :  [4, 5, 6, 7, 1, 2, 3]

In [15]:
# 33. Create a list of prime numbers up to 50.
def isPrime(num):
    if num<2:
        return False;
    for i in range(2,num+1):
        if num%i==0:
            return i;
primeNumberList=[i for i in range(3,50) if isPrime(i)]
print("Prime Numbers : ",primeNumberList)

Prime Numbers :  [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [19]:
# 34. Split a list into chunks of size `n`.
newList=[1,2,3,4,5,6,7];
chunkSize=2;
splitedList=[newList[i:chunkSize+i] for i in range(0,len(newList),chunkSize)];
print("Splited List : ",splitedList)

Splited List :  [[1, 2], [3, 4], [5, 6], [7]]

In [22]:
# 35. Find the second largest number in a list.
newList=[9,4,1,7,4,9,5,0,33,1,6,30];
secondLargest=sorted(newList)
print("Second Largest Number is : ",secondLargest[len(secondLargest)-2])

Second Largest Number is :  30

In [27]:
# 36. Replace every element in a list with its square.
newList=[1,2,3,4,5,6,7];
print("Square List : ",[ele*ele for ele in newList]);

Square List :  [1, 4, 9, 16, 25, 36, 49]

In [31]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
dataList=['Maruti','Ram','Lakhan','Vaibhav'];
print("List to SET : ",{index:ele for index,ele in enumerate(dataList)})

List to SET :  {0: 'Maruti', 1: 'Ram', 2: 'Lakhan', 3: 'Vaibhav'}

In [36]:
# 38. Shuffle the elements of a list randomly.
import random
newList=[1,2,3,4,5,6,7];
print("Befor Shuffling : ",newList);
random.shuffle(newList);
print("After Shuffling : ",newList);

Befor Shuffling :  [1, 2, 3, 4, 5, 6, 7]
After Shuffling :  [7, 6, 5, 4, 3, 2, 1]

In [40]:
# 39. Create a list of the first 10 factorial numbers.
factorial_numbers = [1]  
current_factorial = 1
for i in range(1, 10):
    current_factorial *= i
    factorial_numbers.append(current_factorial)

print("First 10 factorial numbers:", factorial_numbers)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [45]:
# 40. Check if two lists have at least one element in common
l1=[11,2,3,4,5,6,7];
l2=[12,22,2,3,4,5,6,7];
for ele in l1:
    if ele in l2:
        print("List have a common elements in list",ele);
        break;

List have a common elements in list 2

In [50]:
# 41. Remove all elements from a list.
l2=[12,22,2,3,4,5,6,7];
print("List Elements are : ",l2)
while l2:
    print("Element",l2.pop() ,"Removed from Lis.")

List Elements are :  [12, 22, 2, 3, 4, 5, 6, 7]
Element 7 Removed from Lis.
Element 6 Removed from Lis.
Element 5 Removed from Lis.
Element 4 Removed from Lis.
Element 3 Removed from Lis.
Element 2 Removed from Lis.
Element 22 Removed from Lis.
Element 12 Removed from Lis.

In [54]:
# 42. Replace negative numbers in a list with 0.
l2=[12,-22,-2,3,-4,-5,6,7];
print("Before replacement : ",l2);
for ele in range(len(l2)):
    if l2[ele]<0:
        l2[ele]=0;
print("After Replacement : ",l2)

Before replacement :  [12, -22, -2, 3, -4, -5, 6, 7]
After Replacement :  [12, 0, 0, 3, 0, 0, 6, 7]

In [61]:
# 43. Convert a string into a list of words.
string="Hello maruti how are you";
print("String to List of Words : ",string.split(' '))

String to List of Words :  ['Hello', 'maruti', 'how', 'are', 'you']

In [66]:
# 44. Convert a list of words into a string.
string=['Hello', 'maruti', 'how', 'are', 'you'];
print("list to String : "," ".join(string))

list to String :  Hello maruti how are you

In [76]:
# 45. Create a list of the first `n` powers of 2.
powerList=[2**_ for _ in range(0,5)];
print("First power of given number is : ",powerList)

First power of given number is :  [1, 2, 4, 8, 16]

In [83]:
# 46. Find the longest string in a list of strings.
string=['Hello', 'maruti_panchal', 'how', 'are', 'you'];
longestStr='';
for _ in string:
    if len(_)>len(longestStr):
        longestStr=_;
print("Longets String is : ",longestStr);

Longets String is :  maruti_panchal

In [88]:
# 47. Find the shortest string in a list of strings.

string = ['Hello', 'maruti_panchal', 'how', 'are', 'you']
shortestStr = string[0] 
for s in string:
    if len(s) < len(shortestStr):
        shortestStr = s
print("Shortest String is:", shortestStr)

Shortest String is: how

In [94]:
# 48. Create a list of the first `n` triangular numbers.

def triangular_number(n):
    return (n * (n + 1)) // 2

def first_n_triangular_numbers(n):
    return [triangular_number(i) for i in range(1, n + 1)]

n = 5
triangular_numbers = first_n_triangular_numbers(n)
print("First", n, "triangular numbers:", triangular_numbers)

First 5 triangular numbers: [1, 3, 6, 10, 15]

In [93]:
# 49. Check if a list contains another list as a subsequence.

def is_subsequence(sub, lst):
    n = len(sub)
    for i in range(len(lst) - n + 1):
        if lst[i:i+n] == sub:
            return True
    return False


lst = [1, 2, 3, 4, 5, 6]
subsequence = [3, 4, 5]
print("Is", subsequence, "a subsequence of", lst, ":", is_subsequence(subsequence, lst))

Is [3, 4, 5] a subsequence of [1, 2, 3, 4, 5, 6] : True

In [92]:
# 50. Swap two elements in a list by their indices.

def swap_elements(lst, idx1, idx2):
    lst[idx1], lst[idx2] = lst[idx2], lst[idx1]


lst = [1, 2, 3, 4, 5]
swap_elements(lst, 1, 3)
print("List after swapping:", lst)

List after swapping: [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

In [4]:
# 1. Create a tuple with integers from 1 to 5.
tup1=(1,2,3,4,5)
print("Methood 1 : ", tup1)
print("Method 2 : ")
convertedTuple=list(tup1)
convertedTuple.append(1)
convertedTuple.append(2)
convertedTuple.append(3)
convertedTuple.append(4)
convertedTuple.append(5)
newTuple=tuple(convertedTuple)
print("Coverted into List : ",convertedTuple)
print("Coverted back in Tuple : ",newTuple)

Methood 1 :  (1, 2, 3, 4, 5)
Method 2 :
Coverted into List :  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
Coverted back in Tuple :  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [5]:
# 2. Access the third element of a tuple.
print(newTuple)
print(newTuple[3])
print(newTuple[1])
print(newTuple[4])

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
4
2
5

In [6]:
# 3. Find the length of a tuple without using the `len()` function.
print(newTuple)
convTup=list(newTuple);
length=0;
for ele in convTup:
    length+=1
print(convTup)
print("Length of Tuple is : ",length)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
Length of Tuple is :  10

In [7]:
# 4. Count the occurrences of an element in a tuple.
new_tup=(3,1,4,2,5,6,3,2,1,5,5,7,7,32,1,5,5,7)
print("Toatal Occurrences of 5 is : ", new_tup.count(5))

Toatal Occurrences of 5 is :  5

In [8]:
# 5. Find the index of the first occurrence of an element in a tuple.
print(new_tup)
print("First Occurence of 5 at index : ",new_tup.index(5))

(3, 1, 4, 2, 5, 6, 3, 2, 1, 5, 5, 7, 7, 32, 1, 5, 5, 7)
First Occurence of 5 at index :  4

In [9]:
# 6. Check if an element exists in a tuple.
print(new_tup)
for ele in new_tup:
    if(ele==5):
        print("5 is Available in Tuple at Index :",new_tup.index(5));
        break;

(3, 1, 4, 2, 5, 6, 3, 2, 1, 5, 5, 7, 7, 32, 1, 5, 5, 7)
5 is Available in Tuple at Index : 4

In [13]:
# 7. Convert a tuple to a list.
print("Tuple : ",new_tup)
convList=list(new_tup)
print("List : ",convList)

Tuple :  (3, 1, 4, 2, 5, 6, 3, 2, 1, 5, 5, 7, 7, 32, 1, 5, 5, 7)
List :  [3, 1, 4, 2, 5, 6, 3, 2, 1, 5, 5, 7, 7, 32, 1, 5, 5, 7]

In [14]:
# 8. Convert a list to a tuple.
print("List : ",convList)
convTup=tuple(convList)
print("Tuple : ",convTup)

List :  [3, 1, 4, 2, 5, 6, 3, 2, 1, 5, 5, 7, 7, 32, 1, 5, 5, 7]
Tuple :  (3, 1, 4, 2, 5, 6, 3, 2, 1, 5, 5, 7, 7, 32, 1, 5, 5, 7)

In [15]:
# 9. Unpack the elements of a tuple into variables.
n_tup=(1,2,3,'A','B','C')
(a,b,c,d,e,f)=n_tup;
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
A
B
C

In [17]:
#10. Create a tuple of even numbers from 1 to 10.
#11. Create a tuple of odd numbers from 1 to 10.
evenTuple=[]
oddTuple=[]
for i in range (1,20+1):
    if(i%2==0):
        evenTuple.append(i);
    else:
        oddTuple.append(i);
print("Tuple of Even Numbers is : ",tuple(evenTuple))
print("Tuple of Odd Number is : ",tuple(oddTuple))

Tuple of Even Numbers is :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
Tuple of Odd Number is :  (1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [20]:
# 12. Concatenate two tuples.
concatinate_tuple=tuple(evenTuple)+ tuple(oddTuple)
print("Concatination of Two Tuple : ",concatinate_tuple)

Concatination of Two Tuple :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [21]:
# 13. Repeat a tuple three times.
print("First Time Repeating : ",concatinate_tuple)
print("Secod Time Repeating : ",concatinate_tuple)
print("Third Time Repeating : ",concatinate_tuple)

First Time Repeating :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19)
Secod Time Repeating :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19)
Third Time Repeating :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [30]:
# 14. Check if a tuple is empty.
empty_tup=()
if(len(empty_tup)==0):
    print("Yes! Tuple is Empty")
else:
    print("No! Tuple is not Empty")

Yes! Tuple is Empty

In [35]:
# 15. Create a nested tuple.
nested_tuple=(('a','v','d'),2, 4, 6, 8, 10, 12, 14, 16, 18, 20, (1, 3, 5, 7, 9, 11, 13, 15, 17, 19))
print("Nested Tuple : ",nested_tuple)

Nested Tuple :  (('a', 'v', 'd'), 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, (1, 3, 5, 7, 9, 11, 13, 15, 17, 19))

In [36]:
# 16. Access the first element of a nested tuple.
print("First element in Nested tuple : ",nested_tuple[0])

First element in Nested tuple :  ('a', 'v', 'd')

In [45]:
# 17. Create a tuple with a single element.
single_ele_tup=(1,)
print(type(single_ele_tup))
print("Tuple with Single Element : ",single_ele_tup)

<class 'tuple'>
Tuple with Single Element :  (1,)

In [47]:
# 18. Compare two tuples.
comp_tup1=(1,2,3)
commp_tup2=(1,6,3)
print("comp_tup1==commp_tup2 : ",comp_tup1==commp_tup2)
print("comp_tup1!=commp_tup2 : ",comp_tup1!=commp_tup2)
print("comp_tup1>commp_tup2  : ",comp_tup1>commp_tup2)
print("comp_tup1<commp_tup2  : ",comp_tup1<commp_tup2)
print("comp_tup1>=commp_tup2 : ",comp_tup1>=commp_tup2)
print("comp_tup1<=commp_tup2 : ",comp_tup1<=commp_tup2)

comp_tup1==commp_tup2 :  False
comp_tup1!=commp_tup2 :  True
comp_tup1>commp_tup2  :  False
comp_tup1<commp_tup2  :  True
comp_tup1>=commp_tup2 :  False
comp_tup1<=commp_tup2 :  True

In [54]:
# 19. Delete a tuple.
print(comp_tup1)
del comp_tup1
print(comp_tup1)

NameError: name 'comp_tup1' is not defined

In [58]:
# 20. Slice a tuple.
print(nested_tuple)
sliced=nested_tuple[0:5]
print("Sliced Part : ",sliced)

(('a', 'v', 'd'), 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, (1, 3, 5, 7, 9, 11, 13, 15, 17, 19))
Sliced Part :  (('a', 'v', 'd'), 2, 4, 6, 8)

In [1]:
# 21. Find the maximum value in a tuple.is : 
newTup=(1,2,3,4,5,6,7,8,9,10)
temp=0
for ele in newTup:
    if ele>temp:
        temp=ele;
print("Max Value : ",temp)

Max Value :  10

In [3]:
# 22. Find the minimum value in a tuple.
newTup=(1,2,3,4,5,6,7,8,9,10)
temp=float('inf')
for ele in newTup:
    if ele<temp:
        temp=ele;
print("Min Value : ",temp)

Min Value :  1

In [4]:
# 23. Convert a string to a tuple of characters.
string='abcde';
print(tuple(string))

('a', 'b', 'c', 'd', 'e')

In [13]:
# 24. Convert a tuple of characters to a string.
testTuple=('a', 'b', 'c', 'd', 'e');
convstr=str(testTuple)
print(type(testTuple))
print(convstr)
print(type(convstr))

<class 'tuple'>
('a', 'b', 'c', 'd', 'e')
<class 'str'>

In [15]:
# 25. Create a tuple from multiple data types.
multiData=(1,2,3,4,5,'a','b','c','d','e',"Maruti",1.5,2.4,[1,2,3,4,5],(10,11,12))
print("Multiple type Datatype : ",multiData)

Multiple type Datatype :  (1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'Maruti', 1.5, 2.4, [1, 2, 3, 4, 5], (10, 11, 12))

In [16]:
# 26. Check if two tuples are identical.
tuple_one=(1,2,3)
tuple_two=(1,2,3)
tuple_three=(2,3,4)
result_one=tuple_one==tuple_two
result_two=tuple_two==tuple_three
print(result_one)
print(result_two)

True
False

In [34]:
# 27. Sort the elements of a tuple.  Getting error in this code
toSort=(4,1,6,3,1,0,9,6,7,8,10)
newlist=list(toSort)
sorted_tuple=tuple(sorted(newlist))
print(sorted_tuple)

TypeError: 'list' object is not callable

In [46]:
# 28. Convert a tuple of integers to a tuple of strings.
toString=(4,1,6,3,1,0,9,6,7,8,10)
convtString=tuple(str(ele) for ele in toString)
print(convtString)

('4', '1', '6', '3', '1', '0', '9', '6', '7', '8', '10')

In [50]:
# 29. Convert a tuple of strings to a tuple of integers.
toInteger=('4', '1', '6', '3', '1', '0', '9', '6', '7', '8', '10')
convtoInteger=tuple(int(ele) for ele in toInteger)
print(convtoInteger)

(4, 1, 6, 3, 1, 0, 9, 6, 7, 8, 10)

In [52]:
# 30. Merge two tuples.
tup1=(1,2,3)
tup2=(4,5,7)
merged=tup1+tup2;
print("Merged Tuple : ",merged)

Merged Tuple :  (1, 2, 3, 4, 5, 7)

In [5]:
# 31. Flatten a nested tuple
def flatten(nested_tuple):
    flattenList=[];
    for ele in nested_tuple:
        if isinstance(ele,tuple):
            flattenList.extend(flatten(ele));
        else:
            flattenList.append(ele);
    return flattenList;
nested_tuple=(1,2,(3,4,5),6,7,(8,9,10),(11,12,13),14,15);
fltten_result=flatten(nested_tuple);
print("Before : ",nested_tuple);
print("After : ",tuple(fltten_result));

Before :  (1, 2, (3, 4, 5), 6, 7, (8, 9, 10), (11, 12, 13), 14, 15)
After :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [17]:
# Set Based Practice Problem
def isPrime(num):
    if num<=2:
         return False
    else:
        for i in range(2,num):
            if num%i==0:
                return False
        else:
            return True
isPrime(7)

True

In [39]:
# 33. Check if a tuple is a palindrome.
paliTuple=(1,2,2,1)
print(paliTuple,"is Palindrom : ",paliTuple==paliTuple[::-1])

(1, 2, 2, 1) is Palindrom :  True

In [40]:
# 34. Create a tuple of squares of numbers from 1 to 5.
print("1 to 5 square is : ",tuple(ele**2 for ele in range(1,6)))

1 to 5 square is :  (1, 4, 9, 16, 25)

In [44]:
# 35. Filter out all even numbers from a tuple.
setTuple=(1,2,3,4,5,6,7,8,9,10)
print("All even Numbers : ",tuple(ele for ele in setTuple if ele%2==0))

All even Numbers :  (2, 4, 6, 8, 10)

In [46]:
# 36. Multiply all elements in a tuple by 2.
print("Mutliple by 2 :",tuple(ele**2 for ele in setTuple))

Mutliple by 2 : (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [52]:
# 37. Create a tuple of random numbers.
import random
randomSet=tuple(random.randint(1,100) for _ in range(6));
print(randomSet)

(10, 25, 76, 15, 21, 64)

In [107]:
# 37. Create a tuple of random numbers.
import random
randomSet=tuple(random.randint(1,100) for _ in range(6));
print(randomSet)

(84, 68, 89, 28, 34, 19)

In [62]:
# 38. Check if a tuple is sorted.
tup1=(1,2,3,4,5,6)
for i in range(len(tup1)):
    if tup1[i]>tup1[i+1]:
        print("Not Sorted");
        break;
    else:
        print("Sorted")
        break;

Sorted

In [65]:
# 39. Rotate a tuple to the left by `n` positions.
tup1=(1,2,3,4,5,6)
rotataionBy=2;
rotataionBy=rotataionBy%len(tup1)
rotated=tup1[rotataionBy:]+tup1[:rotataionBy]
print("Before Roatation : ",tup1);
print("After Rotation : ",rotated)

Before Roatation :  (1, 2, 3, 4, 5, 6)
After Rotation :  (3, 4, 5, 6, 1, 2)

In [95]:
# 40. Rotate a tuple to the right by `n` positions.
tup1=(1,2,3,4,5,6)
rotataionBy=2;
rotataionBy=rotataionBy%len(tup1)
rotated=tup1[-rotataionBy:]+tup1[:-rotataionBy]
print("Before Roatation : ",tup1);
print("After Rotation : ",rotated)

Before Roatation :  (1, 2, 3, 4, 5, 6)
After Rotation :  (5, 6, 1, 2, 3, 4)

In [96]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers)

first_five_fibonacci = generate_fibonacci(5)

print("First 5 Fibonacci numbers:", first_five_fibonacci)

First 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [97]:
# 42. Create a tuple from user input.
data = tuple(input("Enter values separated by spaces: ").split())
print("Tuple created from user input:", data)

Enter values separated by spaces:  1 2 3 4 5

Tuple created from user input: ('1', '2', '3', '4', '5')

In [98]:
# 43. Swap two elements in a tuple
my_tuple = (1, 2, 3, 4, 5)
new_tuple = list(my_tuple)
new_tuple[1], new_tuple[3] = new_tuple[3], new_tuple[1]
my_swapped_tuple = tuple(new_tuple)

print("Original Tuple:", my_tuple)
print("Swapped Tuple:", my_swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [99]:
# 44. Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple(reversed(my_tuple))
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [100]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2 = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [101]:
# 46. Find the longest string in a tuple of strings
string_tuple = ('apple', 'banana', 'kiwi', 'orange')
longest_string = max(string_tuple, key=len)
print("Longest string in the tuple:", longest_string)

Longest string in the tuple: banana

In [102]:
# 47. Find the shortest string in a tuple of strings
string_tuple = ('apple', 'banana', 'kiwi', 'orange')
shortest_string = min(string_tuple, key=len)
print("Shortest string in the tuple:", shortest_string)

Shortest string in the tuple: kiwi

In [103]:
# 48. Create a tuple of the first `n` triangular numbers.

n = 5
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [104]:
# 49. Check if a tuple contains another tuple as a subsequence.

main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4)

contains_subsequence = all(item in main_tuple for item in sub_tuple)
print("Does the main tuple contain the subsequence tuple?", contains_subsequence)

Does the main tuple contain the subsequence tuple? True

In [105]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 8
alternating_tuple = tuple((i % 2) for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1)

# SET Based Assignment Problem

In [51]:
# 1. Create a set with integers from 1 to 5.
newSet={1,2,3,4,5}
print(newSet)

{1, 2, 3, 4, 5}

In [21]:
# 2. Add an element to a set.
print("Before Adding : ",newSet)
newSet.add(4)
newSet.add(5)
newSet.add(6)
newSet.add(7)
newSet.add(8)
newSet.add(9)
newSet.add(10)
print("After Adding : ",newSet)

Before Adding :  {1, 2, 3, 4, 5}
After Adding :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
# 3. Remove an element from a set.
print("Before Removeing :",newSet)
newSet.pop()
newSet.pop()
print("After Removed :",newSet)

Before Removeing : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After Removed : {3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
print("Before Removeing :",newSet)
newSet.pop()
newSet.pop()
print("After Removed :",newSet)

Before Removeing : {3, 4, 5, 6, 7, 8, 9, 10}
After Removed : {5, 6, 7, 8, 9, 10}

In [24]:
print("Before Removeing :",newSet)
newSet.remove(5)
print("After Removed :",newSet)

Before Removeing : {5, 6, 7, 8, 9, 10}
After Removed : {6, 7, 8, 9, 10}

In [36]:
# 4. Check if an element exists in a set.
print("SET : ",newSet)
ele=int(input("Enter element tobe find : "))
if ele in newSet:
    print(f"Element {ele}  is found in Set.")
else:
    print(f"Element {ele} is not found in Set. ")

SET :  {6, 7, 8, 9, 10}

Enter element tobe find :  6

Element 6  is found in Set.

In [37]:
#  5. Find the length of a set without using the `len()` function.
print(newSet)
cnt=0
for i in newSet:
    cnt+=1
print("Length oof Set is : ",cnt)

{6, 7, 8, 9, 10}
Length oof Set is :  5

In [38]:
# 6. Clear all elements from a set.
print("Before Clearing :",newSet)
newSet.clear()
print("After Clearing :",newSet)

Before Clearing : {6, 7, 8, 9, 10}
After Clearing : set()

In [47]:
# 7. Create a set of even numbers from 1 to 10.
# 8. Create a set of odd numbers from 1 to 10.
wholeSet={1,3,2,5,4,9,7,3,6,7,1,6,6,9,8,8,6,4,5,3,2,1,5,6,7,1,212,34,55,66,77,88,99}
oddSet=set()
evenSet=set()
for i in range (1,10+1):
    if(i%2==0):
        evenSet.add(i)
    else:
        oddSet.add(i)
print(evenSet)
print(oddSet)

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}

In [48]:
# 9. Find the union of two sets.
print(wholeSet)
print(oddSet)
oddSet.union(wholeSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 66, 77, 212, 88, 34, 99, 55}
{1, 3, 5, 7, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 34, 55, 66, 77, 88, 99, 212}

In [51]:
# 10. Find the intersection of two sets.
print(wholeSet)
print(oddSet)
wholeSet.intersection(oddSet)
oddSet.intersection(wholeSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 66, 77, 212, 88, 34, 99, 55}
{1, 3, 5, 7, 9}

{1, 3, 5, 7, 9}

In [56]:
# 11. Find the difference between two sets.
print(wholeSet)
print(oddSet)
wholeSet.difference(oddSet)

{2, 4, 6, 8, 66, 77, 212, 88, 34, 99, 55}
{1, 3, 5, 7, 9}

{2, 4, 6, 8, 34, 55, 66, 77, 88, 99, 212}

In [65]:
# 12. Check if a set is a subset of another set.
# 13. Check if a set is a superset of another set.
setOne={2, 4, 6, 8, 66, 77, 212, 88, 34, 99, 55}
setTwo={2,4,6,8}
print("setOne : ",setOne)
print("setTwo : ",setTwo)

# checking for subSet
print("Is setTwo subSet of setOne ? ",setTwo.issubset(setOne))
print("Is setOne Subset of setTwo ? ",setOne.issubset(setTwo))

# checkin for superSet
print("Is setOne is a Super Set of setTwo  ? ",setOne.issuperset(setTwo))
print("Is setTwo is a Super Set of setOne ? ",setTwo.issuperset(setOne))

setOne :  {2, 34, 4, 66, 6, 99, 8, 77, 212, 55, 88}
setTwo :  {8, 2, 4, 6}
Is setTwo subSet of setOne ?  True
Is setOne Subset of setTwo ?  False
Is setOne is a Super Set of setTwo  ?  True
Is setTwo is a Super Set of setOne ?  False

In [70]:
# 14. Create a set from a list.
listToConvert=[1,2,3,4,5,6,7,8]
print(f"Before Converting :{listToConvert} and It's Type is :{type(listToConvert)}")
convrtdSet=set(listToConvert)
print(f"After Converting :{convrtdSet} and It's Type is :{type(convrtdSet)}")

Before Converting :[1, 2, 3, 4, 5, 6, 7, 8] and It's Type is :<class 'list'>
After Converting :{1, 2, 3, 4, 5, 6, 7, 8} and It's Type is :<class 'set'>

In [71]:
# 15. Convert a set to a list.
print(f"Before Converting :{convrtdSet} and It's Type is :{type(convrtdSet)}")
listToConvert=list(convrtdSet)
print(f"After Converting :{listToConvert} and It's Type is :{type(listToConvert)}")

Before Converting :{1, 2, 3, 4, 5, 6, 7, 8} and It's Type is :<class 'set'>
After Converting :[1, 2, 3, 4, 5, 6, 7, 8] and It's Type is :<class 'list'>

In [9]:
# 16. Remove a random element from a set.
mySet1={1,2,3,4,5,6,7,8,9}
print("Before Deleting : ",mySet1)
mySet1.discard(1)
mySet1.discard(9)
print("After Deleting : ",mySet1)

Before Deleting :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
After Deleting :  {2, 3, 4, 5, 6, 7, 8}

In [6]:
# 17. Pop an element from a set.
mySet={1,2,3,4,5,6,7,8,9}
print("Before Deleting : ",mySet)
mySet.pop()
mySet.pop()
print("After Deleting : ",mySet)

Before Deleting :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
After Deleting :  {3, 4, 5, 6, 7, 8, 9}

In [16]:
# 18. Check if two sets have no elements in common.
mySet={1,2,3,4,5}
mySet1={1,2,3,4,5,6,7,8}
if len(mySet.intersection(mySet1))>0:
    print("Common element is Available.")
else:
    print("Common element is Not present.")

Common element is Available.

In [20]:
# 19. Find the symmetric difference between two sets.
mySet={1,2,3,4,5}
mySet1={1,2,3,4,5,6,7,8}
print("Symetric difference is : ",mySet^mySet1)

Symetric difference is :  {6, 7, 8}

In [35]:
#  Copy a set with elements from another set.
mySet={1,2,3,4,5}
upadatedSet=set()
upadatedSet=mySet.copy()
print(upadatedSet)

{1, 2, 3, 4, 5}

In [47]:
# 20. Update a set with elements from another set.
mySet={1,2,3,4,5}
print("Set 1 :",mySet)
mySet1={6,7,8}
print("Set 2 : ",mySet1)
mySet.update(mySet1)
print("Updated Set : ",mySet)

Set 1 : {1, 2, 3, 4, 5}
Set 2 :  {8, 6, 7}
Updated Set :  {1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
# 21. Create a set of the first 5 prime numbers.
newSet=set()
while len(newSet)<6:
    newSet=set(ele for ele in range(1,100) if ele%2==0)
print(newSet)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98}

In [3]:
#  22. Check if two sets are identical.
first={1,2,3}
second={1,2,3}
print("Set are Identical : ",first==second)

Set are Identical :  False

In [4]:
first={1,2,3}
second={1,2,3}
print("Set are Identical : ",first==second)

Set are Identical :  True

In [8]:
# 23. Create a frozen set.
data=[10,11,12,13,14,15]
create_frozee=frozenset(data)
print("Frozen set : ",create_frozee)
create_frozee[1]=100;
print(create_frozee)   # we can not change the value of frozen set.

Frozen set :  frozenset({10, 11, 12, 13, 14, 15})

TypeError: 'frozenset' object does not support item assignment

In [10]:
# 24. Check if a set is disjoint with another set.
first={1,2,3}
second={4,5,6}
print("Is Disjoint : ",first.isdisjoint(second))
first={1,2,3}
second={1,2,4,5,6}
print("Is Disjoint : ",first.isdisjoint(second))

Is Disjoint :  True
Is Disjoint :  False

In [17]:
# 25. Create a set of squares of numbers from 1 to 5.
print("Square Numbers : ",set(ele*ele for ele in range (1,6)))

Square Numbers :  {1, 4, 9, 16, 25}

In [18]:
# 26. Filter out all even numbers from a set.
totalNumber={1,2,3,4,5,6,7,8,9,10}
print("Even nunbers : ",set(ele for ele in totalNumber if ele%2==0))

Even nunbers :  {2, 4, 6, 8, 10}

In [19]:
#  27. Multiply all elements in a set by 2.
totalNumber={1,2,3,4,5,6,7,8,9,10}
print("Multiply by 2 : ",set(ele*2 for ele in totalNumber))

Multiply by 2 :  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [31]:
# 28. Create a set of random numbers.
import random
result=set();
cnt=1;
while cnt<=5:
    result.add(random.randint(1,100));
    cnt=cnt+1;
print("Random 5 Numbers ",result)

Random 5 Numbers  {48, 81, 82, 52, 29}

In [33]:
# 29. Check if a set is empty.
checkEmpty=set();
if not checkEmpty:
    print("Set is Empty");
else:
    print("Set is not Empty");

Set is Empty

In [34]:
# 30. Create a nested set (hint: use frozenset).
first={1,2,3,4,5}
second={6,7,8,9,10}
firstFrozen=frozenset(first);
secondFrozen=frozenset(second);
nestedSet={firstFrozen,secondFrozen};
print("Nested Set : ",nestedSet)

Nested Set :  {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [39]:
# 31. Remove an element from a set using the discard method.
first={1,2,3,4,5}
print("Before Discard : ",first)
first.discard(1)
first.discard(2)
print("After Discard : ",first)

Before Discard :  {1, 2, 3, 4, 5}
After Discard :  {3, 4, 5}

In [49]:
# 32. Compare two sets.
FirstSet = {1, 2, 3, 4, 5}
SecondSet = {4, 5, 6, 7, 8,1,2,3}

print("Difference : ",SecondSet.difference(FirstSet))
print("Intersection : ",SecondSet.intersection(FirstSet));
print("Union : ",SecondSet.union(FirstSet));
print("isSubset : ",FirstSet.issubset(SecondSet))
print("isDisjoint : ",FirstSet.isdisjoint(SecondSet));
print("isUpperSet : ",SecondSet.issuperset(FirstSet));

Difference :  {8, 6, 7}
Intersection :  {1, 2, 3, 4, 5}
Union :  {1, 2, 3, 4, 5, 6, 7, 8}
isSubset :  True
isDisjoint :  False
isUpperSet :  True

In [51]:
# 33. Create a set from a string.
string="MARUTI"
print("Before Converting : ",string)
strToset=set(string)
print("After Converting in set : ",strToset)

Before Converting :  MARUTI
After Converting in set :  {'M', 'T', 'R', 'I', 'A', 'U'}

In [55]:
# 34. Convert a set of strings to a set of integers.
setOfString={"111","222","333"}
print("SET of Integer : ",set(int(ele) for ele in setOfString));

SET of Integer :  {333, 222, 111}

In [56]:
#35. Convert a set of integers to a set of strings.
print("SET of String : ",set(str(ele) for ele in setOfInteger));

SET of String :  {'111', '333', '222'}

In [58]:
# 36. Create a set from a tuple.
newTuple=(1,2,3,4,5);
print("Tuple to SET : ",set(newTuple))

Tuple to SET :  {1, 2, 3, 4, 5}

In [60]:
# 37. Convert a set to a tuple.
newSet={1, 2, 3, 4, 5};
print("SET to Tuple : ",tuple(newSet));

SET to Tuple :  (1, 2, 3, 4, 5)

In [61]:
# 38. Find the maximum value in a set.
newSet={1, 2, 3, 4, 5,6,7,8,9,10};
max_val=0;
for ele in newSet:
    if(ele>max_val):
        max_val=ele;
print("Maximum Value is : ",max_val);

Maximum Value is :  10

In [63]:
# 39. Find the minimum value in a set.
newSet={1, 2, 3, 4, 5,6,7,8,9,10};
min_val=float('inf');
for ele in newSet:
    if(ele<min_val):
        min_val=ele;
print("Maximum Value is : ",min_val);

Maximum Value is :  1

In [5]:
# 40. Create a set from user input.
userSet=set();
sizeOfSet=int(input("How Many numbers you Want to insert in SET : "))
while sizeOfSet>0:
    userSet.add(int(input("Enter set Value")));
    sizeOfSet-=1;
print("User Created Set is : ",userSet);

How Many numbers you Want to insert in SET :  5
Enter set Value 1
Enter set Value 2
Enter set Value 3
Enter set Value 4
Enter set Value 5

User Created Set is :  {1, 2, 3, 4, 5}

In [8]:
# 41. Check if the intersection of two sets is empty.
firstSet={1,2,3,4,5}
secondSet={4,5,6,7,8,9,10}
intersection_result=firstSet.intersection(secondSet)
if not intersection_result:
    print("Intersection of Two Set is Empty");
else:
    print("Intersection of Two Set is not Empty");

Intersection of Two Set is not Empty

In [9]:
# 42. Create a set of the first 5 Fibonacci numbers.
fib_set=set();
a,b=0,1;
for _ in range(6):
    fib_set.add(a);
    a,b=b,a+b;
print("Fibonacci Series : ",fib_set);

Fibonacci Series :  {0, 1, 2, 3, 5}

In [14]:
import random      # Practice for _ in loop
for _ in range(6):
    print(random.randint(1,100))

21
80
84
87
58
68

In [15]:
# 43. Remove duplicates from a list using sets.
duplicate_list=[1,1,2,2,3,3,4,4,5,5,6,6,7,7,1,1,2,2,3,3,4,4,4,5,5];
print("Before Removing list is : ",duplicate_list);
print("After Removing duplicate using set is : ",set(duplicate_list));

Before Removing list is :  [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5]
After Removing duplicate using set is :  {1, 2, 3, 4, 5, 6, 7}

In [28]:
# 44. Check if two sets have the same elements, regardless of their count.
set1={1, 2, 3, 2, 1}
set2={3, 1, 2}
sortList1=sorted(list(set1))
sortList2=sorted(list(set2))
result=sortList1==sortList2
print("set1==set2 : ",result)

set1==set2 :  True

In [36]:
# 45. Create a set of the first `n` powers of 2
newSet = set(ele**2 for ele in range(5))
print(newSet)

{0, 1, 4, 9, 16}

In [38]:
# 46. Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
listToset=set(my_list)
print("Common elements are: ",my_set.intersection(listToset))

Common elements are:  {9, 12, 7}

In [48]:
# 47. Create a set of the first `n` triangular numbers.
trangular=set()
for ele in range(1,10):
    trangular.add(int(ele*(ele+1)/2))
print("N trangular number :",trangular)

N trangular number : {1, 3, 36, 6, 10, 45, 15, 21, 28}

In [49]:
# 48. Check if a set contains another set as a subset.
my_set = {3, 7, 9, 12, 15}
my_list = {3,7,9}
print("is Subset :",my_list.issubset(my_set));

is Subset : True

In [52]:
# 49. Create a set of alternating 1s and 0s of length `n`.
flag=True
newSet=set()
n=5
while n>0:
    if flag:
        newSet.add(1)
        flag=False;
        n-=1;
    else:
        newSet.add(0)
        flag=True;
        n-=1;
print("0's and 1's set are : ",newSet);

0's and 1's set are :  {0, 1}

In [57]:
# 50. Merge multiple sets into one.
set1={1,2,3,4,5}
set2={6,7,8,9,10}
set3={11,12,13,1,2,3}
result=set1.union(set2).union(set3)
print("Merged List is : ",result)

Merged List is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}